.App {
  text-align: center;
  font-family: Arial, sans-serif;
}

main {
  padding: 20px;
  background-color: #f5f5f5;
}

header {
  background-color: #232f3e;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}

.search-bar {
  display: flex;
  padding: 10px;
  width: 50%;
}

.category {
  background-color: white;
  margin: 20px 0;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.category-title {
  text-align: left;
  margin-bottom: 10px;
}

.items {
  display: flex;
  overflow-x: auto;
  padding: 10px 0;
}

.item {
  margin: 10px;
  width: 150px;
  text-align: left;
  transition: transform 0.2s;
}

.item:hover {
  transform: scale(1.05);
}

.item img {
  width: 100%;
  border-radius: 5px;
}

footer {
  background-color: #232f3e;
  color: white;
  padding: 10px 20px;
  text-align: left;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-content a {
  color: white;
  text-decoration: none;
  margin: 0 10px;
}
